
html, body {
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  background-color: rgb(37, 75, 156);
}

canvas{
  /* position:absolute;
  left:0;
  top:0; */
  background-image: url('./images/bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: auto;
  border: dashed 2px rgb(6, 30, 99);
}

#icon {
  border-radius: 50%;
  background-color: rgb(112, 201, 236);
  /* background-color: rgb(20, 89, 146); */
}

#sidediv {
  z-index: 5; 
  position: absolute; 
  right: 10px; 
  top: 20px; 
  background-color: ivory;

  padding: 1%;
}

#sidediv2 {
  z-index: 5;
  position: absolute;
  left: 10px;
  top: 100px;

  background-color: ivory;
  padding: 1%;
}

#find {
  margin: 5px 0;
}

#reset {
  margin: 5px 0;
  background-color: rgb(17, 179, 65);
}